:root {
  --main-color: #A23E48;
  --secondary-color: white;
  --main-text-color: #3e5869;
  --secondary-text-color: #b0c7d6;
  --send-message-form: #F5F5F5;
  --user-message: #077187;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: system-ui;
  font-weight: 200;
  color: #3e5869;
}

#root {
  height: 100%;
}

.app {
  height: calc(100% - 100px);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: var(--secondary-color);
  background: var(--main-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title form {
  color: var(--secondary-color);
  background: var(--main-color);
  height: 30px;
  width: 80vw;
  max-width: 900px;
}

.title form imput {
  height: 30px;
  width: 200px;
}

.title form label {
  margin-top: 5px;
  height: 20px;
  width: 200px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2.5rem 0;
}

.message.message-fromUser {
  align-items: flex-end;
}

.message div {
 max-width: 80%;
}

.message div p {
  padding: 1rem
}

.message div:nth-child(1) {
  font-size: 1rem;
  font-weight: 700;
  color: var(--main-text-color);
}
.message div:nth-child(2) {
  position: relative;
  background: var(--main-color);
  color: var(--secondary-color);
  border-radius: 0 10px 10px 10px;
  width: 100%;
}

.message div:nth-child(2):before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid var(--main-color);
  bottom: calc(100% - 1px);
  left: 0;
}

.message.message-fromUser div:nth-child(2) {
  background: var(--user-message);
  border-radius: 10px 0 10px 10px;
}

.message.message-fromUser div:nth-child(2):before {
  border-right: 10px solid var(--user-message);
  border-left: none;
  right: 0;
  left: auto;
}

.message-list {
  list-style: none;
  box-sizing: border-box;
  padding: 0 3rem;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
}

.send-message-form {
  background: var(--send-message-form);
  display: flex;
  box-sizing: border-box;
  height: 60px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  border: none;
  margin: 0;
  background: var(--send-message-form);
  font-weight: 200;
}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: black;
}
